In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
months_dict = {
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
}
days_dict = {
    0: 'Monday',
    1: 'Tuesday',
    2: 'Wednesday',
    3: 'Thursday',
    4: 'Friday',
    5: 'Saturday',
    6: 'Sunday'
}

In [3]:
data = pd.read_csv("../data/all.csv")
 # did not drop, just reset
label_encoder = LabelEncoder()

months = []
for i in range(len(data)):
  # X['Date'][i] = X['Date'][i][5:7]
  month = months_dict[int(data['Date'][i][5:7])]
  months.append(month)

for i in range(len(data)):
  # X['Date'][i] = X['Date'][i][5:7]
  w  = days_dict[data['Weekday'][i]]  
  data['Weekday'][i] = w

data['Month'] = pd.Series(months)
# data = data[data['SemType'] != 'Vacation']

data = data.dropna()
data = pd.get_dummies(data, columns=['MealType', 'SemType','Month', 'Weekday'])

data.head()
data = data.reset_index()
# data.info()

# data['MealType_encoded'] = label_encoder.fit_transform(data['MealType'])
# data['SemType_encoded'] = label_encoder.fit_transform(data['SemType'])

X = data
X = X.drop(['Paytm+Cash', 'Coupons', 'Date', 'index'], axis=1)
# # X = data[['Weekday','MealType_encoded','SemType_encoded','Holiday','CouponsMand', 'Month']]
y1 = data['Paytm+Cash']
y2 = data['Coupons']

/var/folders/4f/kjgrgc293tn7cn556xk1h1g40000gn/T/ipykernel_1127/3703358380.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Weekday'][i] = w
/var/folders/4f/kjgrgc293tn7cn556xk1h1g40000gn/T/ipykernel_1127/3703358380.py:14: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Thursday' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data['Weekday'][i] = w

In [4]:
X.head()

,Holiday,CouponsMand,MealType_BreakFast,MealType_Dinner,MealType_EveningSnacks,MealType_Lunch,SemType_Acad,SemType_Vacation,Month_April,Month_August,...,Month_November,Month_October,Month_September,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday
0,0,0.0,True,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,True,False,False
1,0,0.0,False,False,False,True,True,False,False,False,...,False,False,True,False,False,False,False,True,False,False
2,0,0.0,False,False,True,False,True,False,False,False,...,False,False,True,False,False,False,False,True,False,False
3,0,0.0,False,True,False,False,True,False,False,False,...,False,False,True,False,False,False,False,True,False,False
4,0,0.0,True,False,False,False,True,False,False,False,...,False,False,True,True,False,False,False,False,False,False

In [5]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1430 entries, 0 to 1429
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Holiday                 1430 non-null   int64
 1   CouponsMand             1430 non-null   float64
 2   MealType_BreakFast      1430 non-null   bool
 3   MealType_Dinner         1430 non-null   bool
 4   MealType_EveningSnacks  1430 non-null   bool
 5   MealType_Lunch          1430 non-null   bool
 6   SemType_Acad            1430 non-null   bool
 7   SemType_Vacation        1430 non-null   bool
 8   Month_April             1430 non-null   bool
 9   Month_August            1430 non-null   bool
 10  Month_December          1430 non-null   bool
 11  Month_February          1430 non-null   bool
 12  Month_January           1430 non-null   bool
 13  Month_July              1430 non-null   bool
 14  Month_June              1430 non-null   bool
 15  Month_March             1430 non-null   bool
 16  Month_May               1430 non-null   bool
 17  Month_November          1430 non-null   bool
 18  Month_October           1430 non-null   bool
 19  Month_September         1430 non-null   bool
 20  Weekday_Friday          1430 non-null   bool
 21  Weekday_Monday          1430 non-null   bool
 22  Weekday_Saturday        1430 non-null   bool
 23  Weekday_Sunday          1430 non-null   bool
 24  Weekday_Thursday        1430 non-null   bool
 25  Weekday_Tuesday         1430 non-null   bool
 26  Weekday_Wednesday       1430 non-null   bool
dtypes: bool(25), float64(1), int64(1)
memory usage: 57.4 KB

In [150]:
# Paytm+Cash

X_train, X_test, y1_train, y1_test = train_test_split(X, y1, test_size=0.08, random_state=0)

model = LinearRegression()
model.fit(X_train, y1_train)

y_pred = model.predict(X_test)

#PRINT TRAINING METRICS TOO
mse = mean_squared_error(y1_test, y_pred)
r2 = r2_score(y1_test, y_pred)

print("Root Mean Squared Error:", mse**0.5)
print("R-squared:", r2)

# almost double ho gya r2

Root Mean Squared Error: 24.124062359891944
R-squared: 0.6149721766421722

In [151]:
# Coupons

X_train, X_test, y2_train, y2_test = train_test_split(X, y2, test_size=0.08, random_state=0)

model = LinearRegression()
model.fit(X_train, y2_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y2_test, y_pred)
r2 = r2_score(y2_test, y_pred)

print("Root Mean Squared Error:", mse**0.5)
print("R-squared:", r2)

Root Mean Squared Error: 57.09244964057541
R-squared: 0.6380506192885981

In [152]:
# Both

y3 = y1.values + y2.values

X_train, X_test, y3_train, y3_test = train_test_split(X, y3, test_size=0.08, random_state=0)

model = LinearRegression()
model.fit(X_train, y3_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y3_test, y_pred)
r2 = r2_score(y3_test, y_pred)

print("Root Mean Squared Error:", mse**0.5)
print("R-squared:", r2)

Root Mean Squared Error: 69.68336435240401
R-squared: 0.6312926614588359